@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #1e1f24;
}

.full-container {
    background-color: #1e1f24;
    display: table-cell;
    vertical-align: middle;
    width: 100vw;
    height: 100vh;
}

.box-container {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: gray;
}